.modal.fade(id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content

            .modal-header
                h5.modal-title(id="modal-login-heading") Přihlášení
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span.cross-icon

            .modal-body
                form(method="post" action="" class="login-form page-message__login-form" name="login_form")
                    .form-group
                        label(for="modal-login_form_username") Uživatelské jméno
                        input.form-control(type="text" name="modal-login_form_username" id="modal-login_form_username" required autocomplete="username")

                    .form-group
                        label(for="modal-login_form_password") Heslo
                        input.form-control(type="password" name="modal-login_form_password" id="modal-login_form_password" required autocomplete="password")

                    .form-group
                        button.form-control.btn(type="submit" name="modal-login_form_submit" id="modal-login_form_submit") Přihlásit se

                    .form-group
                        a.form-control.btn.btn-ghost(href="#") Vytvořit nový účet

                    a.form-link__forgotten-pass(href="#") Zapomenuté heslo?


