.modal.fade(id="modal-question" tabindex="-1" role="dialog" aria-labelledby="modal-question" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content

            .modal-header
                h5.modal-title(id="modal-question-heading") Dotaz na produkt
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span.cross-icon

            .modal-body
                form(method="post" action="" name="question_form")
                    .form-group
                        label(for="question_form_name") Vaše jméno
                        input.form-control(type="text" name="question_form_name" id="question_form_name" required autocomplete="given-name")

                    .form-group
                        label(for="question_form_email") Váš email
                        input.form-control(type="email" name="question_form_email" id="question_form_email" required autocomplete="email")

                    .form-group
                        label(for="question_form_email") Váš dotaz
                        textarea.form-control(rows="4" name="question_form_text" id="question_form_text" required)

                    .form-group
                        label(for="question_form_email") Antispam
                        input.form-control(type="number" name="question_form_spam" id="question_form_spam" required)

                    .form-group
                        label Souhlasím s podmínkami #[a(href="#") ochrany osobních údajů]

                    .form-group
                        button.form-control.btn(type="submit" name="question_form_submit" id="question_form_submit") Odeslat dotaz
