

/* ========================================================================== */
/* PRODUCT DETAIL RESPONSIVE BOTTOM BAR */
/* ========================================================================== */

.product-detail-responsive{
    display: none;
}
@media screen and (max-width: 991px){
    .product-detail-responsive{
        position: fixed;
        bottom: 0;
        background: $bg-white;
        z-index: 5;
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: $box-shadow-primary;
    }
    & .product-detail-responsive__name, & .product-detail-responsive__btn{
        flex-grow: 1;
    }
    .product-detail-responsive__name{
        padding-right: 15px;
    }
    .product-detail-responsive__title{
        margin: 0;
        font-weight: 500;
        line-height: 1.25;
        padding-bottom: 5px;
        max-height: 35px;
        overflow: hidden;
    }
    .product-detail-responsive__price{
        margin: 0;
        color: $text-red;
        font-size: 2rem;
        line-height: 1;
    }
    .product-detail-responsive__btn-wrap{
        display: flex;
        color: $text-white;
    }
    .product-detail-responsive__btn{
        width: 100%;
        white-space: nowrap;
    }
}

