doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_nav.pug
        main
            .container
                .cart-empty
                    .cart-empty__wrap
                        span.cart-icon-alt.cart-empty__icon
                        span.fas.fa-question.cart-empty__icon-small
                    h2.cart-empty__title Váš košík je prázdný...
                    strong.cart-empty__strong Vypadá to, že zatím v košíku nic nemáte. Pro pokračování v nákupu prosím nejprve vložte vybraný produkt do košíku.
                    p.cart-empty__text Pokud máte problém s objednávkou, kontaktujte nás na email@email.cz nebo na telefonním čísle 111 222 333
                    a.btn.cart-empty__btn(href="#") Začít nakupovat



        include partials/_footer.pug

        include partials/_js-include.pug