doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_navMain.pug
        
        section.o-cartNav
            .container.o-cartNav__container
                .o-cartNav__single.-complete
                    .o-cartNav__title Nákupní košík
                    .o-cartNav__number 1
                .o-cartNav__single.-active
                    .o-cartNav__title Doprava a platba
                    .o-cartNav__number 2
                .o-cartNav__single
                    .o-cartNav__title Osobní údaje
                    .o-cartNav__number 3
                .o-cartNav__single
                    .o-cartNav__title Shrnutí objednávky
                    .o-cartNav__number 4


        section.o-cartNavResponsive
            a.o-cartNavResponsive__link.-prev(href="/kosik.html?krok=1")
                span.a-icon.-cheveron.o-cartNavResponsive__icon
            p.o-cartNavResponsive__title 2/4 Doprava a platba
            a.o-cartNavResponsive__link.-next(onclick="responsive_check()")
                span.a-icon.-cheveron.o-cartNavResponsive__icon

        .a-cartNavResponsivePush

        main
            .container
                .row
                   



                .cart-bottom-btns
                    a.btn.btn-dark(href="#") #[span.btn__icon.arrow-icon.left.white] Krok zpět
                    button.btn(onclick="responsive_check()") Souhrn objednávky #[span.btn__icon.arrow-icon.white]
                

            .cart-price-overview-responsive
                .cart-price-overview-responsive__price-wrap
                    p.cart-price-overview-responsive__text Celková cena s DPH
                    h3.cart-price-overview-responsive__price #[span 16 989] Kč
                .cart-price-overview-responsive__btn-wrap
                    button.btn.cart-price-overview-responsive__btn(onclick="responsive_check()") Souhrn objednávky #[span.btn__icon.arrow-icon.white]

        include partials/_footer.pug

        include partials/_js-include.pug