doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_navMain.pug
        
        section.o-cartNav
            .container.o-cartNav__container
                .o-cartNav__single.-complete
                    .o-cartNav__title Nákupní košík
                    .o-cartNav__number 1
                .o-cartNav__single.-complete
                    .o-cartNav__title Doprava a platba
                    .o-cartNav__number 2
                .o-cartNav__single.-active
                    .o-cartNav__title Osobní údaje
                    .o-cartNav__number 3
                .o-cartNav__single
                    .o-cartNav__title Shrnutí objednávky
                    .o-cartNav__number 4


        section.o-cartNavResponsive
            a.o-cartNavResponsive__link.-prev(href="/kosik.html?krok=2")
                span.a-icon.-cheveron.o-cartNavResponsive__icon
            p.o-cartNavResponsive__title 3/4 Osobní údaje
            a.o-cartNavResponsive__link.-next(onclick="responsive_check()")
                span.a-icon.-cheveron.o-cartNavResponsive__icon

        .a-cartNavResponsivePush

        main
            .container
                .form-responsive-error Prosím zadejte své osobní údaje nebo se přihlaste.
                .row
                    .col-12.col-sm-12.col-md-12.col-lg-8.register-form-col
                        form.o-form(method="post" action="" class="register-form" name="register_form" id="register_form")
                            
                            a.o-form__collapseToggler(data-toggle="collapse" href="#register-collapse" aria-expanded="true" aria-controls="register-collapse") Bez registrace #[span.register-form-toggler__icon]
                            .collapse.o-form__collapse.show(id="register-collapse")

                                h2.o-form__title Bez registrace

                                .o-form__divider.m-formDivider Osobní údaje

                                .row
                                    .col-12.col-md-6
                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_name" id="register_form_name" autocomplete="given-name" required placeholder=" ")
                                            label.m-formGroup__label(for="register_form_name") Jméno
                                            span.m-formGroup__error Neplatné jméno
                                            
                                    .col-12.col-md-6
                                        .o-form__group.m-formGroup
                                            .form-group
                                                input.m-formGroup__input(type="text" name="register_form_surname" id="register_form_surname" autocomplete="family-name" required placeholder=" ")
                                                label.m-formGroup__label(for="register_form_surname") Příjmení
                                                span.m-formGroup__error Neplatné příjmení

                                    .col-12.col-md-6
                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="email" name="register_form_email" id="register_form_email" autocomplete="email" required placeholder=" ")
                                            label.m-formGroup__label(for="register_form_email") Emailová adresa
                                            span.m-formGroup__error Neplatný email
                                            
                                    .col-12.col-md-6
                                        .o-form__group.m-formGroup
                                            .form-group
                                                input.m-formGroup__input(type="tel" name="register_form_tel" id="register_form_tel" autocomplete="tel" required placeholder=" ")
                                                label.m-formGroup__label(for="register_form_tel") Telefonní číslo
                                                span.m-formGroup__error Neplatné číslo

                                .form-group
                                    label(for="register_form_email") Emailová adresa
                                    input.form-control(type="email" name="register_form_email" id="register_form_email" autocomplete="email" required)

                                .form-group
                                    label(for="register_form_tel") Telefonní číslo
                                    input.form-control(type="tel" name="register_form_tel" id="register_form_tel" autocomplete="tel" required)

                                .form-group
                                    label(for="register_form_address") Ulice
                                    input.form-control(type="text" name="register_form_address" id="register_form_address" autocomplete="street-address" required)

                                .form-group
                                    label(for="register_form_descriptive") Číslo popisné
                                    input.form-control(type="text" name="register_form_descriptive" id="register_form_descriptive" autocomplete="descriptive-address" required)

                                .form-group
                                    label(for="register_form_locality") Město
                                    input.form-control(type="text" name="register_form_locality" id="register_form_locality" autocomplete="address-level2" required)

                                .form-group
                                    label(for="register_form_postal_code") PSČ
                                    input.form-control(type="text" name="register_form_postal_code" id="register_form_postal_code" autocomplete="postal-code"  required)

                                .form-group
                                    label(for="register_form_country") Stát
                                    select.form-control(type="text" name="register_form_country" id="register_form_country" required)
                                        option(value="cz") Česká republika
                                        option(value="sk") Slovensko

                                .register-form-info-collapse-wrap   
                                    .form-group
                                        .form-check
                                            label.form-check__label.billing-address-toggler
                                                input.form-check__input(type="checkbox" name="register_form_billing_toggler") 
                                                | Vyplnit fakturační adresu
                                                span.form-check__box.checkbox

                                    .register-form-billing__wrap 
                                        .form-group
                                            label(for="register_form_billing_name") Jméno a příjmení #[span.label__muted (nepovinné)]
                                            input.form-control(type="text" name="register_form_billing_name" id="register_form_billing_name" autocomplete="name")

                                        .form-group
                                            label(for="register_form_billing_company") Název firmy 
                                            input.form-control(type="text" name="register_form_billing_company" id="register_form_billing_company" autocomplete="org")

                                        .form-group
                                            label(for="register_form_billing_ico") IČO
                                            input.form-control(type="text" name="register_form_billing_ico" id="register_form_billing_ico" autocomplete="ico")

                                        .form-group
                                            label(for="register_form_billing_dic") DIČ #[span.label__muted (nepovinné)]
                                            input.form-control(type="text" name="register_form_billing_dic" id="register_form_billing_dic" autocomplete="dic")

                                        .form-group
                                            label(for="register_form_billing_address") Ulice
                                            input.form-control(type="text" name="register_form_billing_address" id="register_form_billing_address" autocomplete="street-address")
                                        
                                        .form-group
                                            label(for="register_form_billing_descriptive") Číslo popisné
                                            input.form-control(type="text" name="register_form_billing_descriptive" id="register_form_billing_descriptive" autocomplete="descriptive-address")

                                        .form-group
                                            label(for="register_form_billing_locality") Město
                                            input.form-control(type="text" name="register_form_billing_locality" id="register_form_billing_locality" autocomplete="address-level2")

                                        .form-group
                                            label(for="register_form_billing_postal_code") PSČ
                                            input.form-control(type="text" name="register_form_billing_postal_code" id="register_form_billing_postal_code" autocomplete="postal-code")

                                        .form-group
                                            label(for="register_form_billing_postal_country") Stát
                                            select.form-control(type="text" name="register_form_billing_postal_country" id="register_form_billing_postal_country")
                                                option(value="cz") Česká republika
                                                option(value="sk") Slovensko

                                    .form-group
                                        .form-check
                                            label.form-check__label.shipping-address-toggler
                                                input.form-check__input(type="checkbox" name="register_form_shipping_toggler")
                                                | Mám jinou dodací adresu
                                                span.form-check__box.checkbox 

                                    .register-form-shipping__wrap 
                                        .form-group
                                            label(for="register_form_shipping_name") Jméno a příjmení 
                                            input.form-control(type="text" name="register_form_shipping_name" id="register_form_shipping_name" autocomplete="name")

                                        .form-group
                                            label(for="register_form_shipping_company") Název firmy #[span.label__muted (nepovinné)]
                                            input.form-control(type="text" name="register_form_shipping_company" id="register_form_shipping_company"  autocomplete="org")

                                        .form-group
                                            label(for="register_form_shipping_address") Ulice
                                            input.form-control(type="text" name="register_form_shipping_address" id="register_form_shipping_address" autocomplete="street-address")
                                        
                                        .form-group
                                            label(for="register_form_shipping_descriptive") Číslo popisné
                                            input.form-control(type="text" name="register_form_shipping_descriptive" id="register_form_shipping_descriptive" autocomplete="descriptive-address")

                                        .form-group
                                            label(for="register_form_shipping_locality") Město
                                            input.form-control(type="text" name="register_form_shipping_locality" id="register_form_shipping_locality" autocomplete="address-level2")

                                        .form-group
                                            label(for="register_form_shipping_postal_code") PSČ
                                            input.form-control(type="text" name="register_form_shipping_postal_code" id="register_form_shipping_postal_code" autocomplete="postal-code")
                                        
                                        .form-group
                                            label(for="register_form_shipping_country") Stát
                                            select.form-control(type="text" name="register_form_shipping_country" id="register_form_shipping_country")
                                                option(value="cz") Česká republika
                                                option(value="sk") Slovensko


                                    a.cart-terms-link(href="#") Vložením údajů beru na vědomí zpracování osobních údajů


                                    .form-group
                                        .form-check
                                            label.form-check__label.cart-register-toggler
                                                input.form-check__input(type="checkbox" name="register_form_register_toggler")
                                                | Mám zájem o vytvoření účtu
                                                span.form-check__box.checkbox

                                    .register-form-register__wrap
                                        .form-group
                                            label(for="register_form_register_username") Uživatelské jméno
                                            input.form-control(type="text" name="register_form_register_username" id="register_form_register_username" autocomplete="off")
                                        .form-group
                                            label(for="register_form_register_password") Heslo
                                            span(id="show_password_toggler" data-toggle="tooltip" data-placement="top" title="Zobrazit/Skrýt heslo") #[span.fa.fa-eye]
                                            input.form-control(type="password" name="register_form_register_password" id="register_form_register_password" autocomplete="off")
                                        .form-group
                                            .form-check
                                                label.form-check__label
                                                    input.form-check__input(type="checkbox" name="register_form_register_terms")
                                                    span.form-check__inline Souhlasím se #[a.form-check__link(href="#") zpracováním osobních údajů]
                                                    span.form-check__box.checkbox

                                .form-group
                                    .form-check
                                        label.form-check__label
                                            input.form-check__input(type="checkbox" name="register_form_email_marketing")
                                            span.form-check__inline Chci odebírat newsletter a souhlasím se #[a.form-check__link(href="#") zpracováním osobních údajů] za účelem zasílání informací o novinkách a slevách.
                                            span.form-check__box.checkbox

                        

                                button.d-none(type="submit" id="register_form_submit") Souhrn objednávky
                                .m-cartButtons
                                    a.btn.-dark(href="#") Zpět do obchodu
                                    a.btn.-remove.-transparent(href="#") Vyprázdnit košík
                                    button.btn.-secondary(onclick="responsive_check()") Osobní údaje #[span.a-btnIcon #[span.a-icon.-cheveron.-white]]  


                    .col-12.col-sm-12.col-md-12.col-lg-4.login-form-col
                        form(method="post" action="" class="login-form" name="login_form")
                            h3.form-title Přihlásit se k existujícímu účtu
                            a.login-form-toggler(data-toggle="collapse" href="#login-collapse" aria-expanded="false" aria-controls="login-collapse") Přihlásit se k existujícímu účtu #[span.register-form-toggler__icon]
                            .collapse.login-form-collapse(id="login-collapse")
                                .form-group
                                    label(for="login_form_username") Uživatelské jméno
                                    input.form-control(type="text" name="login_form_username" id="login_form_username" required)

                                .form-group
                                    label(for="login_form_password") Heslo
                                    input.form-control(type="password" name="login_form_password" id="login_form_password" required)

                                .form-group
                                    button.form-control.btn(type="submit" name="login_form_submit" id="login_form_submit") Přihlásit se

                                a.form-link__forgotten-pass(href="#") Zapomenuté heslo?

                        
    


            .m-cartBarResponsive
                .m-cartBarResponsive__priceWrap
                    p.m-cartBarResponsive__text Celková cena s DPH
                    h3.m-cartBarResponsive__price #[span 65 599] Kč
                .m-cartBarResponsive__btnWrap
                    button.btn.m-cartBarResponsive__btn(onclick="$('#delivery-form-submit').trigger('click');") Osobní údaje #[span.a-btnIcon #[span.a-icon.-cheveron.-white]]


            script.
                function responsive_check(){
                    if($(".register-form-toggler").attr("aria-expanded") === "false"){
                        $(".form-responsive-error").fadeIn(200);
                    }else{
                        $("#register_form_submit").trigger("click");
                    }
                }

        include partials/_footer.pug

        include partials/_js-include.pug