::placeholder{
    @include f-16-medium-regular;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
input{
    @include f-16-primary-regular;
    border: 0;
    border-radius: $border-radius-primary;
    padding: 0 2rem;
}